#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: transparent;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.innerWrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.swiper {
  width: 60%;
  height: 75%;
  border: 3px solid #8bbafc;
  border-radius: 10px;
  margin-bottom: 3rem;
  color: white;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}
